<ion-header>
  <ion-toolbar>
    <ion-title>Difficulty</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="modal-content">
  <div class="modal">
    <div class="levels">
      <ion-button 
        color="secondary" 
        fill="outline"
        class="theme-button level"
        (click)="handleEasyLevel()"
      >
        {{ EASY }}
      </ion-button>
    
      <ion-button 
        color="secondary" 
        fill="outline"
        class="theme-button level"
        (click)="handleMediumLevel()"
      >
        {{ MEDIUM }}
      </ion-button>
    
      <ion-button 
        color="secondary" 
        fill="outline"
        class="theme-button level"
        (click)="handleHardLevel()"
      >
        {{ HARD }}
      </ion-button>
    </div>
  </div>
</ion-content>