<ion-app>
  <div>
    <h1>Star</h1>
  </div>

  
  <div class="ion-canvas">
    <canvas #canvas>
      Your browser does not support the canvas!
    </canvas>
    <button class="star-node" id="a">A</button>
    <button class="star-node" id="b">B</button>
    <button class="star-node" id="c">C</button>
    <button class="star-node" id="d">D</button>
    <button class="star-node" id="e">E</button>
    <button class="star-node" id="f">F</button>
    <button class="star-node" id="g">G</button>
    <button class="star-node" id="h">H</button>
    <button class="star-node" id="i">I</button>
    <button class="star-node" id="j">J</button>
</div>

</ion-app>