<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>
      <ion-title>
        {{ PLAY }}
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">
    <div class="area">
      <ng-container *ngIf="message.length > 0">
        <div class="panel message">
          <p>
            {{message}}
          </p>
        </div>
      </ng-container>

      <countdown #cd *ngIf="hasTimer" [config]="config" (event)="handleCountdownEvent($event)"></countdown>
      <ng-container *ngIf="hasTimer">
        <ion-progress-bar 
          [value]="p_bar_value" 
          *ngIf="hasTimer"
          >
      </ion-progress-bar>
      </ng-container>

      <div class="star">
        <div class="ion-canvas">
          <canvas #canvas>
            Your browser does not support the canvas!
          </canvas>
          <button 
            class="star-node" 
            id="a" 
            (click)="handleNodeSelect('A')" 
            [disabled]="!nodes.get('A').available"
            [ngClass]="[
              nodes.get('A').available ? 'available' : 'unavailable', 
              nodes.get('A').selected ? 'selected' : '', 
              nodes.get('A').marked ? 'marked' : ''
            ]"
          >
            A
          </button>
          <button 
            class="star-node" 
            id="b" 
            (click)="handleNodeSelect('B')" 
            [disabled]="!nodes.get('B').available"
            [ngClass]="[
              nodes.get('B').available ? 'available' : 'unavailable', 
              nodes.get('B').selected ? 'selected' : '', 
              nodes.get('B').marked ? 'marked' : ''
            ]"
          >
            B
          </button>
          <button 
            class="star-node" 
            id="c" 
            (click)="handleNodeSelect('C')" 
            [disabled]="!nodes.get('C').available"
            [ngClass]="[
              nodes.get('C').available ? 'available' : 'unavailable', 
              nodes.get('C').selected ? 'selected' : '', 
              nodes.get('C').marked ? 'marked' : ''
            ]"
          >
            C
          </button>
          <button 
            class="star-node" 
            id="d" 
            (click)="handleNodeSelect('D')" 
            [disabled]="!nodes.get('D').available"
            [ngClass]="[
              nodes.get('D').available ? 'available' : 'unavailable', 
              nodes.get('D').selected ? 'selected' : '', 
              nodes.get('D').marked ? 'marked' : ''
            ]"
          >
            D
          </button>
          <button 
            class="star-node" 
            id="e" 
            (click)="handleNodeSelect('E')" 
            [disabled]="!nodes.get('E').available"
            [ngClass]="[
              nodes.get('E').available ? 'available' : 'unavailable', 
              nodes.get('E').selected ? 'selected' : '', 
              nodes.get('E').marked ? 'marked' : ''
            ]"
          >
            E
          </button>
          <button 
            class="star-node" 
            id="f" 
            (click)="handleNodeSelect('F')" 
            [disabled]="!nodes.get('F').available"
            [ngClass]="[
              nodes.get('F').available ? 'available' : 'unavailable', 
              nodes.get('F').selected ? 'selected' : '', 
              nodes.get('F').marked ? 'marked' : ''
            ]"
          >
            F
          </button>
          <button 
            class="star-node" 
            id="g" 
            (click)="handleNodeSelect('G')" 
            [disabled]="!nodes.get('G').available"
            [ngClass]="[
              nodes.get('G').available ? 'available' : 'unavailable', 
              nodes.get('G').selected ? 'selected' : '', 
              nodes.get('G').marked ? 'marked' : ''
            ]"
          >
            G
          </button>
          <button 
            class="star-node" 
            id="h" 
            (click)="handleNodeSelect('H')" 
            [disabled]="!nodes.get('H').available"
            [ngClass]="[
              nodes.get('H').available ? 'available' : 'unavailable', 
              nodes.get('H').selected ? 'selected' : '', 
              nodes.get('H').marked ? 'marked' : ''
            ]"
          >
            H
          </button>
          <button 
            class="star-node" 
            id="i" 
            (click)="handleNodeSelect('I')" 
            [disabled]="!nodes.get('I').available"
            [ngClass]="[
              nodes.get('I').available ? 'available' : 'unavailable', 
              nodes.get('I').selected ? 'selected' : '', 
              nodes.get('I').marked ? 'marked' : ''
            ]"
          >
            I
          </button>
          <button 
            class="star-node" 
            id="j" 
            (click)="handleNodeSelect('J')" 
            [disabled]="!nodes.get('J').available"
            [ngClass]="[
              nodes.get('J').available ? 'available' : 'unavailable', 
              nodes.get('J').selected ? 'selected' : '', 
              nodes.get('J').marked ? 'marked' : ''
            ]"
          >
            J
          </button>
        </div>
      </div>

      <div class="actions">
        <ion-button 
          color="secondary" 
          expand="full" 
          class="theme-button"
          (click)="handleSolve()"
          [disabled]="hasSelectedAnyNode"
        >
          {{ SOLVE }}
        </ion-button>
        <ion-button 
          color="secondary" 
          expand="full" 
          class="theme-button"
          (click)="handleReset()"
        >
          {{ RESET }}
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>