<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>
      <ion-title>
        {{ PLAY }}
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">
    <div class="area">
      <ng-container *ngIf="message.length > 0">
        <div class="panel message">
          <p>
            {{message}}
          </p>
        </div>
      </ng-container>

      <countdown #cd *ngIf="hasTimer" [config]="config" (event)="handleCountdownEvent($event)"></countdown>
      <ng-container *ngIf="hasTimer">
        <ion-progress-bar 
          [value]="p_bar_value" 
          *ngIf="hasTimer"
          >
      </ion-progress-bar>
      </ng-container>

      <div class="star">
        <div class="ion-canvas">
          <canvas #canvas>
            Your browser does not support the canvas!
          </canvas>
          <button 
            class="star-node" 
            id="a" 
            (click)="handleNodeSelect('A')" 
            [disabled]="!nodes['A'].available"
            [ngClass]="[
              nodes['A'].available ? 'available' : 'unavailable', 
              nodes['A'].selected ? 'selected' : '', 
              nodes['A'].marked ? 'marked' : ''
            ]"
          >
            A
          </button>
          <button 
            class="star-node" 
            id="b" 
            (click)="handleNodeSelect('B')" 
            [disabled]="!nodes['B'].available"
            [ngClass]="[
              nodes['B'].available ? 'available' : 'unavailable', 
              nodes['B'].selected ? 'selected' : '', 
              nodes['B'].marked ? 'marked' : ''
            ]"
          >
            B
          </button>
          <button 
            class="star-node" 
            id="c" 
            (click)="handleNodeSelect('C')" 
            [disabled]="!nodes['C'].available"
            [ngClass]="[
              nodes['C'].available ? 'available' : 'unavailable', 
              nodes['C'].selected ? 'selected' : '', 
              nodes['C'].marked ? 'marked' : ''
            ]"
          >
            C
          </button>
          <button 
            class="star-node" 
            id="d" 
            (click)="handleNodeSelect('D')" 
            [disabled]="!nodes['D'].available"
            [ngClass]="[
              nodes['D'].available ? 'available' : 'unavailable', 
              nodes['D'].selected ? 'selected' : '', 
              nodes['D'].marked ? 'marked' : ''
            ]"
          >
            D
          </button>
          <button 
            class="star-node" 
            id="e" 
            (click)="handleNodeSelect('E')" 
            [disabled]="!nodes['E'].available"
            [ngClass]="[
              nodes['E'].available ? 'available' : 'unavailable', 
              nodes['E'].selected ? 'selected' : '', 
              nodes['E'].marked ? 'marked' : ''
            ]"
          >
            E
          </button>
          <button 
            class="star-node" 
            id="f" 
            (click)="handleNodeSelect('F')" 
            [disabled]="!nodes['F'].available"
            [ngClass]="[
              nodes['F'].available ? 'available' : 'unavailable', 
              nodes['F'].selected ? 'selected' : '', 
              nodes['F'].marked ? 'marked' : ''
            ]"
          >
            F
          </button>
          <button 
            class="star-node" 
            id="g" 
            (click)="handleNodeSelect('G')" 
            [disabled]="!nodes['G'].available"
            [ngClass]="[
              nodes['G'].available ? 'available' : 'unavailable', 
              nodes['G'].selected ? 'selected' : '', 
              nodes['G'].marked ? 'marked' : ''
            ]"
          >
            G
          </button>
          <button 
            class="star-node" 
            id="h" 
            (click)="handleNodeSelect('H')" 
            [disabled]="!nodes['H'].available"
            [ngClass]="[
              nodes['H'].available ? 'available' : 'unavailable', 
              nodes['H'].selected ? 'selected' : '', 
              nodes['H'].marked ? 'marked' : ''
            ]"
          >
            H
          </button>
          <button 
            class="star-node" 
            id="i" 
            (click)="handleNodeSelect('I')" 
            [disabled]="!nodes['I'].available"
            [ngClass]="[
              nodes['I'].available ? 'available' : 'unavailable', 
              nodes['I'].selected ? 'selected' : '', 
              nodes['I'].marked ? 'marked' : ''
            ]"
          >
            I
          </button>
          <button 
            class="star-node" 
            id="j" 
            (click)="handleNodeSelect('J')" 
            [disabled]="!nodes['J'].available"
            [ngClass]="[
              nodes['J'].available ? 'available' : 'unavailable', 
              nodes['J'].selected ? 'selected' : '', 
              nodes['J'].marked ? 'marked' : ''
            ]"
          >
            J
          </button>
        </div>
      </div>

      <div class="actions">
        <ion-button 
          color="secondary" 
          expand="full" 
          class="theme-button"
          (click)="handleSolve()"
        >
          {{ SOLVE }}
        </ion-button>
        <ion-button 
          color="secondary" 
          expand="full" 
          class="theme-button"
          (click)="handleReset()"
        >
          {{ RESET }}
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>