<ion-content>
  <div class="container">
    <div class="area">
      <div class="logo">
        <img 
          src="/assets/images/logo/logo.png"
          height="200"
        />
      </div>
      <div class="buttons">
        <ion-button
          expand="block"
          (click)="handlePlay()"
        >
          Play
        </ion-button>
        <ion-button
          expand="block"
          fill="outline"
          (click)="handleHowToPlay()"
        >
          How to play
        </ion-button>
        <ion-button
          expand="block"
          fill="outline"
          (click)="handleAbout()"
        >
          about
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>