<ion-content>
  <div class="container">
    <div class="area">
      <div class="logo">
        <img 
          src="/assets/images/logo/logo.png"
          height="200"
          alt="logo"
        />
        <img 
          src="/assets/images/logo/header.png"
          class="header"
          alt="header"
        />
      </div>
      <div class="buttons">
        <ion-button
          color="secondary"
          expand="block"
          (click)="handlePlay()"
        >
          {{ PLAY }}
        </ion-button>
        <ion-button
          color="secondary"
          expand="block"
          fill="outline"
          (click)="handleHowToPlay()"
        >
          {{ HOW_TO_PLAY }}
        </ion-button>
        <ion-button
          color="secondary"
          expand="block"
          fill="outline"
          (click)="handleAbout()"
        >
          {{ ABOUT }}
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>