<ion-app>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
  
    <div class="container">
        <div class="panel message">
        <p>Mark 9 points</p>
        </div>
    
        <div class="star">
        <div class="ion-canvas">
          <canvas #canvas>
              Your browser does not support the canvas!
          </canvas>
          <button class="star-node" id="a">A</button>
          <button class="star-node" id="b">B</button>
          <button class="star-node" id="c">C</button>
          <button class="star-node" id="d">D</button>
          <button class="star-node" id="e">E</button>
          <button class="star-node" id="f">F</button>
          <button class="star-node" id="g">G</button>
          <button class="star-node" id="h">H</button>
          <button class="star-node" id="i">I</button>
          <button class="star-node" id="j">J</button>
        </div>
      </div>
    
        <ion-button color="primary" expand="full" class="theme-button">Reset</ion-button>
    </div>
  </ion-app>