@media (max-width: 400px) {
  .container {
    height: auto;
  }
}

.screens {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px 0;
}

.screens img {
  height: 350px;
  margin: 10px 10px;
}

.legend {
  display: flex;
  align-items: center;
  margin: 20px 0;
  flex-wrap: wrap;
}

.legend-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
}

.legend-item p {
  font-size: 12px;
}

.legend-icon {
  border: 3px solid;
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

.legend-icon-green {
  background: var(--ion-color-success);
  border-color: var(--ion-color-success);
  border-width: 3px;
}

.legend-icon-red {
  background: var(--ion-color-danger);
  border-color: var(--ion-color-danger);
  border-width: 3px;
}

.legend-icon-yellow {
  background: var(--ion-color-warning);
  border-color: var(--ion-color-warning);
  border-width: 3px;
}

.legend-icon-yellow-outlined {
  background: transparent;
  border-color: var(--ion-color-warning);
  border-width: 3px;
}

.picture-label {
  font-style: italic;
  font-size: 12px;
  display: flex;
  text-align: center;
  line-height: 18px;
}
